	nav{
	height: 70px;
	background: white;
	position: fixed;
	z-index: 5;
	top: 0;
	transition: height .4s;
	-webkit-box-shadow: 0px -1px 6px 2px rgba(0, 0, 0,0.49); -moz-box-shadow: 0px -1px 6px 2px rgba(0, 0, 0,0.49); box-shadow: 0px -1px 6px 2px rgba(0, 0, 0,0.49);
    .nav-wrapper{
		@include content;
		@include flexFlow;
		padding-top: 18px; 
		padding-bottom: 18px;
		position: relative; 
		a.logo{
			float: left;
			width: 170px;
			// background: red;
			img{
				width: 100%;
			}
		}
		>ol{
			display: none;
			@include cero;
			list-style-type: none;
			@media (min-width: 993px){
				display: inherit;
				position: absolute;
				right: 18px;
				top:-9px;
				color: $blue;
				i{
					font-size: 18px;
                    cursor: pointer;
                    color: $blue;
                    transition: color .4s;
                    &:hover{
                    	color: $aqua;
                    }

				}
			}
			@media (min-width: 1440px){
				font-size: 18px;
				top: 24px;
			}

		}
		a.button-collapse{
			position: absolute;
			right: 24px;
			top: 9px;
            i{
            	color: $aqua;
            	font-size: 34px;
            	transition: color .4s;

            	&:hover{
            		color: $blue;
            	}
            }
		}
	}
	@media (min-width: 993px){
    height: 90px;
     .nav-wrapper{
     	a.logo{
			width: 230px;
		}

      }
	}
	@media (min-width: 1440px){
		height: 127px;
		 .nav-wrapper{
			a.logo{
			width: 343px;
			margin: 9px 0 0 18px; 
		}

      }
	}
}
.hide-on-med-and-down{
	position: absolute;
	right: 18px;
	bottom: 18px;
		line-height: 2;
	li{
		span{
			margin: 0 5px;
			color: $grayFont;
			display: inline;
		}
		a{
			color: $grayFont;
			font-size: 14px;
			font-weight: 300;
			&:hover{
				background: transparent;

			}
			@media (min-width: 1440px){
				font-size: 16px;
			}

		}

		a.active{
			font-weight: 600;
		}
	}

		#dos:hover ~ hr {
		  width: 27%;
		  margin-left: 15%;
		}

		#tres:hover ~ hr {
		  margin-left: 44%;
		  width: 13%;
		}

		#four:hover ~ hr {
		  margin-left: 59%;
		  width: 14%;
		}
		#five:hover ~ hr {
		  margin-left: 74%;
		  width: 12%;
		}
		#six:hover ~ hr {
		  margin-left: 89%;
		  width: 11%;
		}

		hr {
		  height: .25rem;
		  width: 12%;
		  margin: -2px 0 0;
		  background: $aqua;
		  border: none;
		  transition: .3s ease-in-out;
		}
}
.side-nav.right-aligned{
	background: rgba($blue, .96);
	margin-top: 70px;
	width: 100% !important;
	ol{
		width: 100%;
		@include flexFlow;	
   
		li:nth-child(1){
			border-bottom: none;
			text-align: center;
            width: 70%;
            background: #252a3c;
			color: rgba( 255, 255, 255, 0.4);
            i{
            	display: inline;
			    vertical-align: middle;
			    font-size: 17px;
			    margin-right: 8px;
            }
		}
		li:nth-child(2){
			background: #1a1f30;
            width: 30%;

            i{
            	display: inline;
			    vertical-align: middle;
			    font-size: 22px;
			    margin-right: 8px;
			    color: rgba( 255, 255, 255, 0.7);
            }
		}
	}
	li{
		text-align: center;
		border-bottom: 1px  solid rgba( white, .04);
		a{
			font-weight: 300;
		}
	}
	li:last-child{
		border-bottom: none;
	}
}
.slider{
	margin-top: 70px;;
	span{
		position: absolute;
		background: $aqua;
		left: -32px;
		top: 40%;
		color: white;
		 z-index: 4;
		 padding: 9px 15px;
		 font-size: 11px;
		 letter-spacing: 1px;
		 cursor: pointer;
		 -ms-transform: rotate(-90deg); /* IE 9 */
	    -webkit-transform: rotate(-90deg); /* Safari */
	    transform: rotate(-90deg);
	    transition: background .4s;
	    &:hover{
	    	background: $cafe;
       }
       @media (min-width: 993px){
       	  font-size: 14px;
   	      padding: 16px 31px;
   	      left: -50px;
       }
	}
	.slides{
		.caption{
			top: 36%;
			h1, h2{
				transition: font-size .5s;
			}
			h1{
			font-weight: 600;	
			font-size: 22px;
			}
			h2{
			font-size: 18px;
			font-weight: 300;	
			margin-top: 9px;	
			}
			button{
               margin-top: 36px;
			}
		}
	}
	@media (min-width: 768px){
        height: 480px;
        .slides{
          height: 480px;
          .caption{
          	top: 41%;
          	h1{
          		font-size: 32px;
          	}
          	h2{
          		font-size: 28px;
          	}
          }
         }
       } 
        @media (min-width: 993px){
        	margin-top: 90px;
        	height: 720px;
	        .slides{
	          height: 720px;
	          .caption{
	          	h1{
	          		font-size: 46px;
	          	}
	          	h2{
	          		font-size: 32px;
	          	 }
	          }
          }
        }
         @media (min-width: 1440px){
         	margin-top: 127px;
         	height: 85vh;
         	.slides{
	          height: 85vh;
	          .caption{
	          	top: 35%;
	          	h1{
	          		font-size: 63px;
	          	}
	          	h2{
	          		font-size: 46px;
	          		font-weight: 100;
	          		margin-top: 24px;	
	          	 }
	          	 button{
		               margin-top: 90px;
					}
	          }
          }


         }
	
}
section#main{
	.content{
		@include contentFull;
		@include flexFlow;
		padding: 36px 24px 24px;
		@media (min-width: 768px){
			padding: 36px 0 0;
		}
			@media (min-width: 993px){
				padding: 54px 0 0;
			}
			 @media (min-width: 1440px){
				padding: 94px 0 0;
			}
		.title{
			display: inline-block;
			height: 61px;
			width: 100%;
			@media (min-width: 768px){
				height: 91px;
			}
			@media (min-width: 993px){
				height: 120px;
			}
			@media (min-width: 1440px){
				height: 175px;
			}
		h2{
			width: 137px;
			font-size: 22px;
			color: $aqua;
			font-weight: 300;
			@include centerAbsolute2;
			strong{
				font-weight: 700;

			}
			@media (min-width: 768px){
				font-size: 32px ;
				width: 200px;
			}
			@media (min-width: 993px){
				font-size: 46px;
				width: 290px;
			}
			@media (min-width: 1440px){
				font-size: 60px;
				width: 390px;
			}
		}
		h2:after{
 				content:"";
                display: block;
                height: 2px;
                width: 90px;
                background: rgba( 0, 0, 0, .4);
                margin: 9px auto ;
                @media (min-width: 1440px){
                	height: 4px;
                    width: 120px;
                     margin: 18px auto ;

                }

 			}
	  }	
	  figure{
	  	width: 100%;
	  	background: #ededed;
	  	position: relative;
	  	@include cero;
	  	height: auto;
	  	img:nth-child(1){
	  		width: 100%;
	  	}
	  	img:nth-child(2){
	  		position: absolute;
	  		bottom: 0;
	  		right: 0;
	  		width: 60px;
	  		cursor: pointer;
	  		@media (min-width: 993px){
	  			width: 100px;
	  		}
	  	}
	  	@media (min-width: 768px){
	  		width: 50%;
	  	}
	  }
	  article{
	  	background: $aqua;
	  	color:  white;
	  	padding:  36px 36px 24px;
	  	@media (min-width: 410px){
	  			padding: 36px 54px;
	  	} 
	  		@media (min-width: 992px){
	  			padding: 7% 11% 7% 7%;
	  		}
	  		@media (min-width: 992px){
	  			padding: 9%;
	  		}
	  	h4{
	  		font-weight: 300;
	  		font-size: 14px;
	  		line-height: 22px;
	  		strong{
	  			font-weight: 600;
	  			text-transform: uppercase;
	  		}
	  		@media (min-width: 410px){
                 text-align: center;
	  		}
	  		@media (min-width: 768px){
	  			 text-align: left;
	  		}
	  		@media (min-width: 992px){
	  			font-size: 19px;
	  			line-height: 27px;
	  			margin-bottom: 36px;
	  		}
	  	}
	  	ul{
	  		max-width: 410px;
	  		margin: 18px auto;
	  		li{
	  			margin-bottom: 9px;
	  			@media (min-width: 992px){
	  				margin-bottom: 18px;
	  			}
	  			@include flexFlow;
	  				font-weight: 300;
	  			i{
	  				
	  				font-size: 	22px;
	  				width: 11%;
	  				@media (min-width: 992px){
	  					font-size: 32px;
	  				}

	  			}
	  			p{
	  				width: 89%;
	  				line-height: 16px;
	  				margin-top: 6px;
	  				font-weight: 300;
	  				@media (min-width: 992px){
	  					font-size: 19px;
	  					line-height: 22px;
	  					font-weight: 100;
	  				}
	  			}
	  		}
	  	}
	  	@media (min-width: 768px){
	  		width: 50%;
	  	}
		  @media (min-width: 993px){
		  	ul{
		  		max-width: 100%;
		  	}
		  	
		  }
		  @media (min-width: 1440px){
		  	
		  }
	  }

   }	

}
section#mainor{
	background: rgba($blue, 1);
	padding:  0 24px;
	.content{
		background: $blue;
		@include contentSmall;
		padding: 36px 24px 24px;
		@include flexFlow;
		@media (min-width: 768px){
			padding: 54px ;
		}
			@media (min-width: 993px){
				padding: 54px 24px 94px;
			}
			 @media (min-width: 1440px){
				padding: 94px 0 144px;
			}
		.title{
			display: inline-block;
			height: 61px;
			width: 100%;
			@media (min-width: 768px){
				height: 91px;
				margin-bottom: 24px;
			}
			@media (min-width: 993px){
				height: 120px;
			}
			@media (min-width: 1440px){
				height: 175px;
			}
		h2{
			width: 137px;
			font-size: 22px;
			text-align: center;
			font-weight: 300;
			color: rgba( white, .65);
			transition: font-size .4s;
			@include centerAbsolute2;
			strong{
				font-weight: 700;
			}
			@media (min-width: 768px){
				font-size: 32px ;
				width: 200px;
			}
			@media (min-width: 993px){
				font-size: 46px;
				width: 560px;
			}
			@media (min-width: 1440px){
				font-size: 60px;
				width: 730px;
			}
		}
		h2:after{
 				content:" ";
                display: block;
                height: 2px;
                width: 90px;
                background: rgba( 255, 255, 255, .4);
                margin: 9px auto 24px;
                @media (min-width: 768px){
						margin: 9px auto 36px;
                }
                  @media (min-width: 1440px){
                	height: 4px;
                    width: 120px;
                     margin: 18px auto ;

                }


 			}
	    }	
	    ul:nth-child(2){
	    	margin-top: 24px;
	    	@media (min-width: 768px){
	    		@include cero;
	    	}
	    }
	    ul:nth-child(3){
	    	margin-bottom: 24px;
	    	@media (min-width: 768px){
	    		@include cero;
	    	}
	    }
            ul{
            	@include cero;
            	width: 100%;
            	@media (min-width: 768px){
                     width: 50%;

            	}

            	color: white;
            	li{
            		@include flexFlow;
            		i{
            			width: 9%;
            			font-size: 22px;
            			color: $aqua;
            			@media (min-width: 993px){
            				font-size: 32px;
            				width: 5%;
            			}
            		}
            		p{
            			width: 89%;
            			font-weight: 300;
					    font-size: 14px;
					    line-height: 20px;
					    margin-top: 7px;
					    font-weight: 300;
					    @media (min-width: 993px){
					    	font-size: 19px;
					    	margin-top: 18px;
					    	width: 95%;
					    	font-weight: 100;
					    }
            		}
            	}
            }
	}
  }
  section#prototipe{
	.content{
		@include contentLg;
		@include flexFlow;
		padding: 36px 24px 24px;
		@media (min-width: 768px){
			// padding: 54px ;
		}
			@media (min-width: 993px){
				padding: 54px 24px 94px;
			}
			 @media (min-width: 1440px){
				padding: 94px 0 144px;
			}

		.title{
			display: inline-block;
			height: 61px;
			width: 100%;
			@media (min-width: 768px){
				height: 91px;
			}
			@media (min-width: 993px){
				height: 120px;
			}
			@media (min-width: 1440px){
				height: 175px;
			}
		h2{
			width: 137px;
			font-size: 22px;
			color: $cafe;
			font-weight: 300;
			@include centerAbsolute2;
			strong{
				font-weight: 700;

			}
			@media (min-width: 768px){
				font-size: 32px ;
				width: 200px;
			}
			@media (min-width: 993px){
				font-size: 46px;
				width: 290px;
			}
			@media (min-width: 1440px){
				font-size: 60px;
				width: 390px;
			}
		}
		h2:after{
 				content:"";
                display: block;
                height: 2px;
                width: 90px;
                background: rgba( 0, 0, 0, .4);
                margin: 9px auto ;
                @media (min-width: 1440px){
                	height: 4px;
                    width: 120px;
                     margin: 18px auto ;

                }

 			}
	  }	
	  .fix{
	  	padding: 0;
	  	@media (min-width: 993px){
           padding: 0 20%;
	  	}
	  }
	  ul.tabs{
	  	@media (min-width: 993px){
	  	  margin-bottom: 61px;
	  	}
         li{
         	padding-top: 9px;
         	border-right: 1px solid rgba( black, .2);
         	a{ 
         		font-size: 11px;
         		color: $grayFont;
         		&:hover{
         			font-weight: 600;
         			color: $aqua;
         		}
         		@media (min-width: 993px){
         			font-size: 23px;

         		}
         	}
         	a.active{
         		font-weight: 600;
         		color: $aqua;
         	}
         }
         li:nth-child(4){
	  		border-right: 0;
	  	}
	  	
	  }
	  .contentTables{
		  @include flexFlow;
	  	 figure{
		  	width: 100%;
		  	@media (min-width: 768px){
		  		width: 50%;
		  	}
			  	@media (min-width: 993px){
						width: 45%;
			  	}
		  	position: relative;
		  	@include cero;
		  	height: auto;
	  	 	margin-top: 24px;
		  	img:nth-child(1){
		  		width: 100%;
		  	}
		  }
		  article{
		  	padding: 24px 18px;
		  	@include flexFlow;
		  	width: 100%;
		  	@media (min-width: 768px){
		  		width: 50%;
		  	}
		  	@media (min-width: 993px){
						width: 55%;
			  	}
		  ul{
		  	width: 100%;
		  	@include cero;
		  	@include flexFlow;
		  	margin: 0 0;
		  	h3{
		  		color: $grayFont;
		  		font-size: 16px;
		  		text-transform: uppercase;
		  		font-weight: 700;
		  		margin-bottom: 18px;
		  		 @media (min-width: 993px){
		  		 	font-size: 20px;
		  		 }
		  	}
		  	li{
		  		width: 100%;
            		@include flexFlow;
            		p{
            			width: 89%;
            			font-weight: 300;
					    font-size: 14px;
					    line-height: 20px;
					    margin-top: 7px;
					    color: $grayFont;
					    @media (min-width: 993px){
					    	 font-size: 19px;
					    }
            		}
            	}
		    }
		    ul:nth-child(1){
        		li{
                    color: $aqua;
                    font-size: 22px;
                    i{
  						 width: 9%;
  						 @media (min-width: 992px){
							width: 4%;
	                 }
                    }
        		}
        	}
        	ul:nth-child(2){
        		margin-top: 72px;
        		margin-bottom: 18px;
        		@include flexFlow;
        		h3{
        			width: 100%;
        		}
        		li{
        			width: 100%;
        				@media (min-width: 900px){
        					width: 50%;
        					margin-bottom: 9px;
        				}
        				@media (min-width: 1440px){
        					width: 33%;
        					margin-bottom: 18px;
        				}
        			i{
	                 font-size: 20px;
	                 margin-right: 10px;
	                 color: $cafe;
	                 width: 9%;
	                 @media (min-width: 992px){
							width: 7%;
	                 }
	                } 
	        		p{
	        			font-weight: 400;
	        			width: 85%;
	        			font-size: 13px;
	        			text-transform: uppercase;
	        			@media (min-width: 993px){
					    	 font-size: 16px;
					    }
	        		}
        		}
        	}
        	button{
        		margin-top: 24px;
        	}
		 }
	  }
  }
}	
section#amenidades{
   @include flexFlow;
	article:nth-child(1){
		padding: 36px  36px 24px;
		width: 100%;
		background: $blue;
		@include flexFlow;
		@media (min-width: 768px){}
		@media (min-width: 993px){
			padding: 54px 36px;
			width: 67%;
		}
		@media (min-width: 1440px){
			padding: 90px 5%;
		}
		h2{
			font-size: 22px;
			color: #e4e4e4;
			font-weight: 300;
			width: 100%;
			strong{
				font-weight: 700;

			}
			@media (min-width: 768px){
				font-size:32px;
			}
			@media (min-width: 993px){
				font-size: 48px;
				margin-bottom: 20px 
			}
			@media (min-width: 1440px){
				font-size: 52px;
			}
		}
	 	h2:after{
			content:"";
	        display: block;
	        height: 2px;
	        width: 90px;
	        background: rgba( 255, 255, 255, .4);
	        margin: 9px 0 24px ;
	        @media (min-width: 1440px){
	        	height: 4px;

	        }
			}
 			aside{
 				width: 100%;
 				@media (min-width: 768px){
						width: 50%;
						padding-right: 5%;
 				}
				span{
					color: white;
					font-weight: 300;
					
					strong{
						font-weight: 600;
					}
					@media (min-width: 993px){
						font-size: 19px;
					}
				}
 				ul{
 					@include cero;
 					margin: 18px 0;
 					li{
		            	@include flexFlow;
		            		i{
		            			width: 9%;
		            			color: $aqua;
		            			font-size: 20px;
		            		}
		            		p{
		            			width: 89%;
		            			color: $grayFont;
		            			font-weight: 300;
							    font-size: 14px;
							    line-height: 18px;
							    margin-top: 7px;
							    color: rgba(white, .89);
							    @media (min-width: 993px){
							    	font-size: 19px;
							    	line-height: 27px;
							    	font-weight: 100;
							    }
		            		}
		            	}
 				}
 			}
           .slider{
           	margin: 18px 0;
           	height: 300px ;
           	width: 100%;
           	  .second{
           	  	height: 300px ;
           	  }
           	  @media (min-width: 768px){
						width: 50%;
 				}
 			 @media (min-width: 993px){
 			 	height: 360px ;
 			 }	
           }

	}
	article:nth-child(2){
		padding: 36px  36px 24px;
		width: 100%;
		background: $cafe;
		// @include flexFlow;
        color: white;
        @media (min-width: 993px){
			width: 33%;
			padding: 90px 7%;
		}
        h2{
			font-size: 22px;
			color: white;
			font-weight: 300;
			strong{
				font-weight: 700;

				}
	    	@media (min-width: 768px){
		  		font-size:32px;
			}
			@media (min-width: 993px){
				font-size: 48px;
				margin-bottom: 20px 
			}
			@media (min-width: 1440px){
				font-size: 52px;
			}		

		}
		h2:after{
			content:"";
	        display: block;
	        height: 2px;
	        width: 90px;
	        background: rgba( 255, 255, 255, .4);
	        margin: 9px 0 36px ;
			}
			span{
					color: white;
					font-weight: 300;
					
					strong{
						font-weight: 600;
					}
					@media (min-width: 993px){
							    	font-size: 19px;
							    }
				}
 				ul{
 					@include cero;
 					margin: 18px 0 24px;
 					max-width: 270px;
 					li{
		            	@include flexFlow;
		            		i{
		            			width: 9%;
		            			color: $aqua;
		            			font-size: 20px;
		            		}
		            		p{
		            			width: 89%;
		            			color: $grayFont;
		            			font-weight: 300;
							    font-size: 14px;
							    line-height: 18px;
							    margin-top: 7px;
							    color: rgba(white, .89);
							    @media (min-width: 993px){
							    	font-size: 19px;
							    	font-weight: 100;
							    }
		            		}
		            	}
 				}

          button{
          	margin-bottom: 24px;
          	 @media (min-width: 993px){
          	 	margin-top: 90px;
          	 }
          }
	}
}
section#ubication{
	.content{
		@include flexFlow;
		padding: 36px  18px 0px;
		width: 100%;
		background: white;
		position: relative;
		@media (min-width: 768px){
			padding: 54px 54px 0;
		}
			@media (min-width: 993px){
				padding: 54px 24px 0;
			}
			 @media (min-width: 1440px){
				padding: 94px 0 0;
			}
		.title{
			display: inline-block;
			height: 61px;
			width: 100%;
			@media (min-width: 768px){
				height: 91px;
			}
			@media (min-width: 993px){
				height: 120px;
			}
			@media (min-width: 1440px){
				height: 175px;
			}
		h2{
			width: 137px;
			font-size: 22px;
			color: $cafe;
			font-weight: 300;
			@include centerAbsolute2;
			strong{
				font-weight: 700;

			}
			@media (min-width: 768px){
				font-size: 32px ;
				width: 200px;
			}
			@media (min-width: 993px){
				font-size: 46px;
				width: 290px;
			}
			@media (min-width: 1440px){
				font-size: 60px;
				width: 350px;
			}
		}
		  h2:after{
 				content:"";
                display: block;
                height: 2px;
                width: 90px;
                background: rgba( 0, 0, 0, .4);
                margin: 9px auto ;
                @media (min-width: 1440px){
                	height: 4px;
                    width: 140px;
                    margin: 18px auto ;

		           }

		 	    }
			}	
 			p{
 				font-size: 14px;
 				line-height: 18px;
 				color: $grayFont;
		        font-weight: 400;
		        text-align: center;
		        width: 100%;
			@media (min-width: 993px){
				font-size: 19px;
				line-height: 30px;
				 margin-bottom: 54px;
			}

 			}
 			figure{
 				@include cero;
 				width: 100%;
 				height: 300px;
 				@include cover;
 				margin: 36px 0; 
 				background: url(assets/images/parque-sur-residencial-mapa.jpg) center;
 			}
 			button{
 				@include centerAbsolute2;
                width: 230px;
                bottom: 36px; 
 			}
	}
}

section#contact{
	background: $blue;
	.content{
		@include contentSmall;
		@include flexFlow;
		color:  white;
		padding: 36px  36px 24px;
		@media (min-width: 768px){
			// padding: 54px ;
		}
			@media (min-width: 993px){
				padding: 54px 24px 94px;
			}
			 @media (min-width: 1440px){
				padding: 94px 0 36px;
			}
		.title{
			display: inline-block;
			height: 61px;
			width: 100%;
			@media (min-width: 768px){
				height: 91px;
				margin-bottom: 24px;
			}
			@media (min-width: 993px){
				height: 120px;
			}
			@media (min-width: 1440px){
				height: 175px;
			}
		h4{
			width: 137px;
			font-size: 22px;
			text-align: center;
			font-weight: 300;
			color: rgba( white, 1);
			transition: font-size .4s;
			@include centerAbsolute2;
			strong{
				font-weight: 700;
			}
			@media (min-width: 768px){
				font-size: 32px ;
				width: 200px;
			}
			@media (min-width: 993px){
				font-size: 46px;
				width: 560px;
			}
			@media (min-width: 1440px){
				font-size: 60px;
				width: 730px;
			}
		}
		h4:after{
 				content:" ";
                display: block;
                height: 2px;
                width: 90px;
                background: rgba( 255, 255, 255, .4);
                margin: 9px auto 24px;
                @media (min-width: 768px){
						margin: 9px auto 36px;
                }
                  @media (min-width: 1440px){
                	height: 4px;
                    width: 120px;
                     margin: 18px auto ;

                }


 			}
	    }

	form{
		width: 100%;
		@include flexFlow;
		article{
			width: 100%;
             input[type=text], input[type=email], input[type=tel]{
             	background: white;
             	border: 1px solid #333;
             	font-weight: 300;
             	text-transform: uppercase;
             	font-size: 12px;
             	padding: 7px 0 7px 18px;	
             	width: 95%;
             	color: #333;
             	:focus{
                    border: 1px solid $blue !important;
             	}
             	@media (min-width: 993px){
		             height: 45px;
		             font-size: 16px;
		         	}
             }

             textarea{
             	width: 100%;
             	height: 90px;
             	font-weight: 300;
             	text-transform: uppercase;
             	font-size: 12px;
             	padding: 7px 0 7px 18px;	
             	background: white;
             	border: 0;
             	@media (min-width: 993px){
             		height: 212px;
             		font-size: 16px;
             	}
             }
                @media (min-width: 768px){
                	width: 50%;
                	padding: 0 9px;
                	font-size: 16px;

                }
		}
         input[type=submit]{
         	width: 100%;
         	background:$aqua;
         	border: 0;
         	height: 40px;
         	color: white;
         	text-align: center;
         	margin-top: 9px;
         	transition: background .4s;
         	&:hover{
         		background: $cafe;

         	}
         	@media (min-width: 993px){
             height: 70px;
             font-size: 16px;
         	}
         }
        } 
        >p{
        	text-align: center;
        	margin: 24px 0 9px;
        	font-weight: 300;  
        	width: 100%; 
        	a{
        		color: white;
        		font-weight: 500;
        		transition: color .4s;
        		&:hover{
        			color: $aqua;
        		}
        			@media (min-width: 993px){
        				font-size: 16px;
        			}

        	}   
          }
	}
}
footer{
	border-top: 1px solid  rgba( white, .2);
	background: $blue;
	.content{
		width: 100%;
		padding: 24px;
		// max-width: 840px;
		text-align: center;
		color: white;
		font-weight: 300;
		font-size: 12px;

	}
}